body{
    background: linear-gradient(to bottom, #a079e9 20%,#6843ad);
    height: 100%;
    background-attachment: fixed;
}

:root{
    --fonte-principal: 'Old Standard TT', serif;
    --tamanho-titulo: 40px;
    --tamanho-texto: 10px;
    --cor-fonte: aliceblue;
    --fonte-titulo-projeto: 'Old Standard TT', serif;
    --fonte-titulo: 'Nosifer', cursive;
    --fonte-titulo-nome: 'Miriam Libre', sans-serif;
}